<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalConponent from "./components/CalConponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionAndLoops from "./components/ConditionAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <br />
    <br />
    <FormBindings />
    <br />
    <br />
    <ConditionAndLoops />
    <br />
    <br />
    <AttributeBindings />
    <HandlingUserInput />
    <CalConponent />
    <HelloWorldExample />

  </div>
</template>

<style scoped></style>
